<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
    <link rel="stylesheet" href="/Style/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/Script/dashboard.js"></script>
</head>
<body>
    <div>
        <a style="text-decoration: none " href="form.html" onclick="addSudent()"></a>
    </div>
     <div class="table-main">
        <table id="display" class="table" table>
            <tr>
                <th>Name</th>
                <th>Father Name</th>
                <Th>Monther Name</Th>
                <th>MobileNumber</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Marks</th>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>